.card{
    width: 540px;
    height: 104.4px;
    top: 90.61px;
    left: 530px;
    right: 356px;
    border: 1px;
    margin: 9px;
 
 
}
#ha {
    width:  490px;
    height: 388px;
    top: 4.5px;
    left: 30px;
    padding:18px;
 }