
<fieldset>
  <ul class="nav nav-pills nav-fill">
    <li  class="nav-item" >
      <a class="nav-link active"   id="wd" aria-current="page" href="#">حذف المورد <i class="fa fa-trash"></i></a>
    </li>
    <li  id="ww"class="nav-item">
      <a class="nav-link active"  id="wf"aria-current="page" href="#">حفظ التغيرات</a>
    </li>
    <div class="form-check form-switch" id="vc">
      <input class="form-check-input" type="checkbox" role="switch">
    </div>
    <li class="nav-item">
      <a class="nav-link" id="bh" href="#">مفعله</a>
     
     
    </li>
 
  
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">اضافه جديد <i class="fa fa-arrow-right"></i></a>
    </li>
  </ul>
      <div  class="card" id="sa">
        
          <div class="card-body">
              <form class="row g-3 needs-validation" novalidate>
              
                  <div class="col-md-6">
                    <h5>اسم الموارد</h5>
                      <input type="text" id="val" class="form-control" id="validationCustom03" required >  
                      
                    
                    </div>
             
                  <div    id="hh" class="col-md-4">
                  
                      <img src="jk.jpg" class="card-img-top" alt="...">
                     
                  </div>
             
              
                </form>
                 
               
              
          </div>
        </div>
    

        <div     class="card"   id="ha">
          <div class="card-body">
            <form class="row g-3 needs-validation" novalidate>
             
              <div class="col-md-6">
                <div class="col">
                  <div id="ig" class="input-group">
                    <div id="ig" class="input-group ">
                      <label class="input-group-text" for="inputGroupSelect01">شهر</label>
                      <select class="form-select" id="inputGroupSelect01">
                        <option selected></option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                  
                  
                </div>
              </div>
              </div>
            
              <nav class="navbar bg-body-tertiary">
                <form class="container-fluid justify-content-start">
                  <h6>وقت المورد</h6>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      وقت ثابت
                    </label>
                  </div>
                  
                  <label class="form-check-label" for="flexRadioDefault2"> 
                    وقت الخدمة
                    <i class="fa fa-circle"></i>
                  </label>
                    
                
                    

                    
                    
                </form>
                
              </nav>
                    
                    
              <nav class="navbar bg-body-tertiary">
                <h6>الحجز المتعدد</h6>
                <form class="container-fluid justify-content-start">
                 
              <label class="form-check-label" for="flexRadioDefault2"> 
                حجز واحدة فقط
                <i class="fa fa-user fa-beat"></i>
              </label>
             
              <div class="form-check">
                
         <label class="form-check-label"  >  
          حجز اكثر من شخصي لنفس الموعد
          <i  class="fa fa-users"></i>
         
                
                </label>
               
            
                 
               
              
          </div>
            </form>
          </nav>
          <div class="input-group ">
            <button type="button" class="btn btn-primary">+</button>

            <input id="cl" class="form-control" aria-label="Amount (to the nearest dollar)">
            <button type="button" class="btn btn-primary">-</button>

          </div>
          <div class="col-md-4">
           
            <select id="inputState" class="form-select">
              <option selected="option"></option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>

            </select>
            <div     class="card"   id="ta">
                

              <div id="mj" class="card-body">
               <h4>حدد المواعيد العمل للمورد</h4>
               <h5>تكوين إعدادات الأسبوع الخاص بك هنا. ما عليك سوى تحريك أشرطة التمرير وإضافة / إزالة أوقات الراحة لإعداد ساعات العمل.</h5>
               
               <button type="button" class="btn btn-primary btn-lg">إعدادات تقليدية</button> 

              
                  <div  class="coll-md-6" >
                    
                <div class="form-check form-switch"  >
                  
                  <div class="form-check" >
                    
                    <input class="form-check-input" type="radio" name="الاحد" id="flexRadioDefault1" >
                    <h6>السبت</h6>
                   
                  
                    <div class="col-md-6">

                      <input id="cd" class="form-control" id="specificSizeInputGroupUsernamej" placeholder="09:00AM">
                      <div class="col">
                        
                        <input id="cd" class="form-control" id="specificSizeInputGroupUsernamej" placeholder="09:00AM">
        
                        <label class="visually-hidden" for="specificSizeInputGroupUsernamej"> </label>
                       
                        <div class="input-group">
                        
                          <div class="form-floating">
                          
                            
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            
                           
                              <option selected>اختر الوقت</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                              
                            </select>
                            
                            <div class="po"> 
                              <button type="button" class="btn btn-primary btn-md">حفظ الوقت</button>
                              <button type="button" class="btn btn-secondary btn-md">الوقت الحالي</button>
                          </div>
                            <i   id="fe"class="fa fa-file"></i>  
                            <i  id="ft"class="fa fa fa-minus"></i>
                            <i   id="fs"class="fa fa-plus"></i> 
                            
                          </div>
                        
                            <input id="ji" class="form-control" placeholder="اختر الوقت" aria-label="Username" aria-describedby="addon-wrapping" >
                            <input id="ji" class="form-control" placeholder="Usernamew" aria-label="Username" aria-describedby="addon-wrapping" >

                            <input id="ji" class="form-control" placeholder="Usernamew" aria-label="Username" aria-describedby="addon-wrapping" >
                            <input id="ji" class="form-control" placeholder="اختر الوقت" aria-label="Username" aria-describedby="addon-wrapping" >
                            <input id="ji" class="form-control" placeholder="Usernamew" aria-label="Username" aria-describedby="addon-wrapping" >
                            <input id="ji" class="form-control" placeholder="Usernamew" aria-label="Username" aria-describedby="addon-wrapping" >
                   


                       

                          
                        </div>
                      </div>

                  
                   
                   
                     <input id="cd" class="form-control" placeholder="09:00 AM" aria-label="Username" aria-describedby="addon-wrapping">

                  
                    
                    
                  </div>
                </div>
          
                    
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch"><h6>الاحد</h6>
                  
                  <input id="ty" class="form-control" placeholder="09:00AM" aria-label="Username" aria-describedby="addon-wrapping">
                  
                  
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" ><h6>الاثنين</h6>
                  <input type="text" class="form-control" placeholder="09:00AM" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox"><h6>الثلاثاء</h6>
                  <input type="text" class="form-control" placeholder="09:00AM" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox"><h6> الاربعاء</h6>
                  <input type="text" class="form-control" placeholder="09:00AM" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" ><h6> الخميس </h6>
                  <input type="text" class="form-control" placeholder="09:00AM" aria-label="Username" aria-describedby="addon-wrapping">
                </div>

                <div    class="form-check form-switch">
                  <h6>الجمعه </h6>
                  <input class="form-check-input" type="checkbox" >
                 

                </div>
              </div>
              
            
  
                </div>
              </div>
            </div>
          </div>
          
              
                  

                  
          
            