<h4>حدد المواعيد العمل للمورد</h4>
<table>
                          
                         
    <tr>
     
      <th>الدقائق</th>
      <th>الساعه</th>
    </tr>
    
    
    <tr class="ho">
      <td>30</td>
      <td>09</td>
      
       
    </tr class="lp">
    <tr>
      <td>35</td>
     
      <td>10</td>
          
    </tr>
      <tr>
      <td>40</td>
      
      <td>11</td>
          
    </tr>
        <tr>
      <td>45</td>
      
      <td>12</td>
          
    </tr>
    <tr>
      <td>50</td>
   
      <td>13</td>
    </tr>
    <tr>
      <td>55</td>
  
      <td>14</td>
    </tr>
    <tr>
      <td>00</td>
  
      <td>15</td>

    </tr>
 
  </table>